@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --orange: hsl(25, 97%, 53%);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --light-blue: hsl(213, 19%, 21%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family: 'Overpass';
  font-size: 18px;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.8rem;
  width: 25rem;
  height: 27rem;
  background-image: linear-gradient(var(--dark-blue), var(--very-dark-blue));
  border-radius: 1.5rem;
}

.card__center {
  align-items: center;
  text-align: center;
}
.card__spacearound {
  justify-content: space-around;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 43%;
}

.icon__star {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--light-grey);
  background-color: var(--light-blue);
  border-radius: 50%;
}

.rate__heading {
  color: var(--white);
}
.rate__description {
  color: var(--medium-grey);
}
.rate__range {
  display: flex;
  justify-content: space-between;
}
.rate__rangeitem {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-style: none;
  color: var(--light-grey);
}
.rate__rangeitem:focus {
  color: var(--white);
  background-color: var(--light-grey);
}
.rate__rangeitem:hover {
  background-color: var(--orange);
}

.button__submit {
  cursor: pointer;
  padding: 1rem 2rem;
  border-style: none;
  border-radius: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;

  background-color: var(--orange);
  color: var(--white);
}
.button__submit:hover {
  background-color: var(--white);
  color: var(--orange);
}
.button__submit:active {
  background-color: var(--orange);
  color: var(--white);
}

.thankyou {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.rating__result {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue);
  color: var(--orange);
  padding: 0.3rem 0.5rem;
  border-radius: 2rem;
  border-style: none;
  width: 60%;
}

.hidden {
  display: none;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  color: var(--white);
  margin-bottom: 0.5rem;
}
.attribution a {
  color: cyan;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .attribution {
    display: none;
  }
  .card {
    width: 95%;
  }
}
