@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,700;1,700&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap');

:root {
  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--cream);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat';
}

.container {
  display: flex;
  border-radius: 1rem;
  background: var(--white);
  width: 40rem;
  height: 30rem;
}

.perfume__image {
  background-image: url('./images//image-product-desktop.jpg');
  background-position: center center;
  background-size: 100%;
  border-radius: 1rem 0 0 1rem;
  width: 50%;
  height: 100%;
}

.perfume__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  width: 50%;
  height: 100%;
}
.perfume__heading {
  font-weight: 500;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
}
.perfume__name {
  font-size: 2.5rem;
  font-family: 'Fraunces';
  line-height: 2.3rem;
}
.perfume__description {
  color: var(--dark-grayish-blue);
  line-height: 1.5rem;
}

.price__container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.price__discount {
  font-family: 'Fraunces';
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--dark-cyan);
}
.price__original {
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}

.button__addcart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2.5rem;
  background-color: var(--dark-cyan);
  color: var(--white);
  font-weight: 700;
  border-radius: 0.5rem;
  border-style: none;
  transition: background-color 0.2s ease-in-out;
}
.button__addcart:hover {
  background-color: var(--very-dark-blue);
}

.attribution {
  position: absolute;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 650px) {
  .container {
    flex-direction: column;
    align-items: center;
    height: 95vh;
    width: 93vw;
  }
  .perfume__image {
    background-image: url('./images/image-product-mobile.jpg');
    background-position: center center;
    background-size: 100%;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 40%;
  }
  .perfume__details {
    width: 100%;
    height: 60%;
    border-radius: 0 0 1rem 1rem;
  }
  .attribution {
    margin-bottom: 0;
    display: none;
  }
}
