@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Primary */
:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);

  /* Neutral */
  --dark-gray: hsl(0, 0%, 59%);

  /* name and stats */
  --font-size: 18px;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: 'Kumbh Sans';
}

body {
  min-height: 100vh;
  font-size: 18px;

  background-color: var(--dark-cyan);
  background-image: url('./images/bg-pattern-top.svg'),
    url('./images/bg-pattern-bottom.svg');
  background-repeat: no-repeat no-repeat;
  background-size: 60%, 60%;
  background-position: top -50vh left -15vw, bottom -50vh right -15vw;
  color: var(--very-dark-desaturated-blue);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: background .3s ease-in-out;
}
hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: var(--dark-gray);
  margin-top: auto;
}
footer {
  margin: 1rem auto;
}
.card {
  width: 27rem;
  height: 30rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__pattern {
  width: 100%;
  height: calc(1 / 3);
  border-radius: 1rem 1rem 0 0;
  position: relative;
}
.user__avatar {
  border-radius: 50%;
  border: 7px solid white;
  width: 8rem;
  height: 8rem;
  margin-top: -4rem;
  z-index: 1;
}
.user__info {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}
.user__age {
  font-weight: 400;
  color: var(--dark-grayish-blue);
}
.user__city {
  display: block;
  font-weight: 400;
  color: var(--dark-grayish-blue);
  margin-top: 0.5rem;
  margin-bottom: auto;
}
.user__stats {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 2rem auto;
}
.user__stats--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.user__stats--item h1 {
  font-size: 1.5rem;
}
.user__stats--item p {
  color: var(--dark-grayish-blue);
}

.attribution {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: white;
}
.attribution a {
  color: yellow;
  text-decoration: none;
}

@media only screen and (max-width: 650px) {
  body {
    background-size: 65% 45%, 65% 45%;
    background-position: top -15vh left -15vw, bottom -15vh right -15vw
  }
}

@media only screen and (max-width: 450px) {
  .card {
    width: 100%;
    height: 27rem;
  }
  .user__stats h1 {
    font-size: 1.3rem;
  }
  .user__stats p {
    font-size: 1rem;
  }
  footer {
    display: none;
  }
}
